<!DOCTYPE html>
<html lang="en">
<title>Upload new File</title>
<h1>Upload new File</h1>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
</br>
Data shape is: {{ shape }}
</br></br>
Prediction:
</body>
</html>



<!-- '''
#     <!doctype html>
#     <title>Upload new File</title>
#     <h1>Upload new File</h1>
#     <form method=post enctype=multipart/form-data>
#       <input type=file name=file>
#       <input type=submit value=Upload>
#     </form>
#     ''' -->
